<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153404632664-d122hdgc033l1qrb25i2o7u0u5758c3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153404632664-d122hdgc033l1qrb25i2o7u0u5758c3h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>153404632664-m5m7i7f7nkiu7lktq9d4pcf08m5fdho6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjW8gH_-2p48pDh4WkQCC1u15kRtleRJM</string>
	<key>GCM_SENDER_ID</key>
	<string>153404632664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unoone.pagopolizza</string>
	<key>PROJECT_ID</key>
	<string>pagopolizza</string>
	<key>STORAGE_BUCKET</key>
	<string>pagopolizza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153404632664:ios:6fe37673bc42699937e42d</string>
</dict>
</plist>